input[type=email]{
    width:500px;
    background-color:yellow;
    color:blue;
    padding:20px;
}
input[type=button]{
    padding:20px;
    background-color:#000;
    color:white;
    font-size:20px;
}
a[target=_blank]{
    color:purple;
    text-decoration:none;/*due to this the underline in link 1 not visible*/
    font-size=25px;
}
a{
    color:blue;
}